@import "tailwindcss";

@theme {
  --font-manrope: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-poppins: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;
  
  /* Map Tailwind's default sans to Manrope */
  --font-sans: var(--font-manrope);
}

@layer base {
  body {
    @apply font-manrope;
  }
}